.pointer {
  cursor: pointer;
}

.v-input__details {
  /* Disabled for now as the Vuetify hide-details prop doesn't work */
  display: none;
}

select {
  /* Used to add style to select while Vuetify releases theirs */
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
}
